<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime Recomendations</title>
</head>

<body>
    <h1>Anime Recomendations</h1>
    <% data.forEach(item=> { %>
        <ul>
            <li>Title: <%= item.title %>
            </li>
            <li>Description: <%= item.description %>
            </li>
            <img src="<%= item.image_url %>" alt="Cover">
            <li>Episodes: <%= item.episodes %>
            </li>
            <li>Added by: <%= item.username %>
            </li>
        </ul>
        <%}); %>
</body>

</html>